:root {
  --primary-color: #ff7b54;
  --primary-text-color: #ffffff;
  --button-border-color: var(--primary-text-color);
  --primary-button-background-color: var(--primary-text-color);
  --primary-button-text-color: var(--primary-color);

  --secondary-button-background-color: var(--primary-color);
  --secondary-button-text-color: var(--primary-text-color);

  --font-family: "Inter", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

p {
  margin: 0px;
}

/*Navigation*/
.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  align-items: center;
  padding: 0 60px;
}

.header__link {
  font-size: 40px;
  font-weight: bold;
}

.nav {
  display: inline-block;
  justify-self: end;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__list-item {
  margin-inline-end: 36px;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Buttons */
.button {
  font-size: 32px;
  padding: 0 64px;
  height: 100px;
  border: 4px solid var(--button-border-color);
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: 2px solid var(--primary-text-color);
  transition: outline 0.1s linear;
}
