@import "./base.css";

body {
  background-color: var(--primary-text-color);
  color: var(--primary-color);
}

.shopping-cart-icon g path {
  fill: var(--primary-color);
}

.main__title {
  font-size: 98px;
}

/*Speakers*/
.speaker__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 120px;
}

.speaker__wrapper {
  width: 300px;
}

.speaker__image {
  width: 310px;
  height: 350px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 36px;
}

.speaker__name {
  font-size: 32px;
  margin-bottom: 20px;
}

.speaker__company {
  font-size: 24px;
  margin-bottom: 32px;
}

.speaker__bio {
  font-size: 20px;
}

.speaker__company,
.speaker__bio {
  color: var(--secondary-text-color);
}

.menu path {
  fill: var(--primary-color);
}

.close path {
  fill: var(--primary-color);
}

@media (width < 840px) {
  .nav {
    background-color: var(--primary-text-color);
  }
}
